* {
    font-family: 'Edu NSW ACT Foundation', cursive;
}
h1 { 
    color: yellow;
}
h2 { 
    color: pink;
}
p {
     color: blue;
}
a {
    color: red;
}
body { 
    background: purple
}
header { 
    background: green
}
nav {
    background: orangered 
}
main {
    background:lavenderblush
}
footer {
    background: limegreen
}
    
.my-class-one{
    color: red;
}

.my-class-two{
    font-style: italic;
}

.my-class-three{
    font-family: "sans-serif"
}

img{
    margin: 20px;
    border: 2px solid red;
    object-fit: cover ;
    object-position: 80% 80%;
}